@import 'fonts';
@import 'reset';
@import 'overlay';
@import 'select';
@import 'tooltip';
@import 'animate';

@mixin font-size($n) {
	font-size: $n + px; font-size: ($n / 10) + rem;
}

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}

//ICONS
.icon-arrow-up, .icon-home, .icon-pencil, .icon-bullhorn, .icon-file, .icon-tags, .icon-cart, .icon-credit, .icon-phone, .icon-envelop, .icon-pushpin, .icon-location, .icon-calendar, .icon-undo, .icon-bubbles, .icon-user, .icon-users, .icon-expand, .icon-cog, .icon-remove, .icon-eye, .icon-star, .icon-star-2, .icon-thumbs-up, .icon-thumbs-up-2, .icon-notification, .icon-info, .icon-cancel-circle, .icon-play, .icon-loop, .icon-facebook, .icon-twitter, .icon-feed, .icon-arrow-down, .icon-filter, .icon-arrow-up-alt1, .icon-arrow-down-alt1, .icon-arrow-left, .icon-plus, .icon-move-alt2 {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-arrow-up:before {
	content: "\e000";
}
.icon-home:before {
	content: "\e001";
}
.icon-pencil:before {
	content: "\e002";
}
.icon-bullhorn:before {
	content: "\e003";
}
.icon-file:before {
	content: "\e004";
}
.icon-tags:before {
	content: "\e005";
}
.icon-cart:before {
	content: "\e006";
}
.icon-credit:before {
	content: "\e007";
}
.icon-phone:before {
	content: "\e008";
}
.icon-envelop:before {
	content: "\e009";
}
.icon-pushpin:before {
	content: "\e00a";
}
.icon-location:before {
	content: "\e00b";
}
.icon-calendar:before {
	content: "\e00c";
}
.icon-undo:before {
	content: "\e00d";
}
.icon-bubbles:before {
	content: "\e00e";
}
.icon-user:before {
	content: "\e00f";
}
.icon-users:before {
	content: "\e010";
}
.icon-expand:before {
	content: "\e011";
}
.icon-cog:before {
	content: "\e012";
}
.icon-remove:before {
	content: "\e013";
}
.icon-eye:before {
	content: "\e014";
}
.icon-star:before {
	content: "\e015";
}
.icon-star-2:before {
	content: "\e016";
}
.icon-thumbs-up:before {
	content: "\e017";
}
.icon-thumbs-up-2:before {
	content: "\e018";
}
.icon-notification:before {
	content: "\e019";
}
.icon-info:before {
	content: "\e01a";
}
.icon-cancel-circle:before {
	content: "\e01b";
}
.icon-play:before {
	content: "\e01c";
}
.icon-loop:before {
	content: "\e01d";
}
.icon-facebook:before {
	content: "\e01e";
}
.icon-twitter:before {
	content: "\e01f";
}
.icon-feed:before {
	content: "\e020";
}
.icon-arrow-down:before {
	content: "\e021";
}
.icon-filter:before {
	content: "\e022";
}
.icon-arrow-up-alt1:before {
	content: "\e023";
}
.icon-arrow-down-alt1:before {
	content: "\e024";
}
.icon-arrow-left:before {
	content: "\e025";
}
.icon-plus:before {
	content: "\e026";
}
.icon-move-alt2:before {
	content: "\e027";
}
